[2020-12-01 08:56] ackava commented on #284
@dadhi Sorry in this test case I have forgotten, but I have a large library in which I am assigning result of Coalesc, but it is still failing, but Linq Expression isn't failing. I will try to isolate the case where it is working in Linq and failing in Fast.

[2020-12-01 08:59] dadhi commented on #283
@jogibear9988

Regarding the first test, a see that it uses `// NOT_SUPPORTED_EXPRESSION: Extension`. So it is a question of how to deal with it first.
1. I may ignore the `Extension` while compiling the expression, I believe that the System Compile does the same, and the Extension is used mainly to inject metadata into expression and then discover it using Visitor or similar traversing methods.
2

[2020-12-01 09:17] jogibear9988 commented on #283
I think 1. would be better...

butt I don‘t know what you mean with Extension...

[2020-12-01 09:19] dadhi commented on #283
@jogibear9988 Here
https://nejcskofic.github.io/2017/07/30/extending-linq-expressions/

[2020-12-01 09:22] dadhi commented on #284
@ackava You may also try to replace Coalesce with Conditional and see if the results change.. I mean, the bug may be in one but not in another.

[2020-12-01 09:56] jogibear9988 commented on #283
I thought the MS compiler calls Reduce to get the simpler Expression Representation

[2020-12-01 10:58] dadhi commented on #283
@jogibear9988 I am still unable to reproduce the https://github.com/dadhi/FastExpressionCompiler/commit/57ece796fca3982174fee9e13472baf3ba2cbe2b
It is likely that something was lost in translation, could you please try to extract the expression again (hopefully I've fixed a number of extraction bugs later).

You mean the Extension is being reduced? - yeah, very likely. I did not do a reduction mec

[2020-12-01 11:01] dadhi commented on #283
Ok, found that I am calling the Reduce already for Extension. Let's see.

[2020-12-01 11:04] jogibear9988 commented on #283
https://github.com/linq2db/linq2db/blob/ffed64756a5256f755fadc1c20cbaa05cc6eeb85/Source/LinqToDB/Expressions/DefaultValueExpression.cs#L24

[2020-12-01 11:08] jogibear9988 commented on #283
You didn't change anything since I extracted the method at last.
Maybe you can run that test yourself? This one does not use a database.

[2020-12-01 11:29] dadhi commented on #283
@jogibear9988 ok, will try

[2020-12-01 15:41] dadhi commented on #283
I have changed FEC to output the reduced Extension in `ToExpressionString` and in the `ToCSharpString`

[2020-12-01 16:11] dadhi commented on #283
@jogibear9988 I have released the V3-preview-06 with reducing the Extension so case 1 here can be extracted properly and with the fix (hopefully) for the `Test: MapHasFlag.MapHasFlag`.
If you can run it, then please.

[2020-12-01 16:32] jogibear9988 commented on #283
MappingTest.TesCollection still fails:

	var p = new ParameterExpression[2]; // the parameter expressions
	var e = new Expression[6]; // the unique expressions
	var l = new LabelTarget[0]; // the labels
	var expr = Lambda( // $
	  typeof(System.Func<object, object>),
	  e[0]=Block(
		typeof(Tests.TypeMapping.Wrappers.SampleClass),
		new[] {
		p[0]=Parameter(typeof(Tests.TypeMapping.Wrappers.Sample

[2020-12-01 16:34] jogibear9988 commented on #283
MapHasFlag works

[2020-12-01 16:34] dadhi commented on #283
I did not worked with it yet.

[2020-12-04 19:38] #285 closed

[2020-12-06 10:45] ackava commented on #284
@dadhi

I think I found root cause, problem is due to `New` expression after Coalesce. .

Try this code,

First try commenting `CompileSys` it will result in Invalid program runtime. But if you uncomment `CompileSys`, it will

[code]

I know the expression is wrong, but `CompileSys` successfully throws `NullReferenceException`, but `CompileFast` results in `Invalid runtime`.

The point here is, ge

[2020-12-06 12:57] dadhi commented on #284
@ackava Good, I will look.

[2020-12-07 03:45] ackava opened #286 "Design Question"
I looked at how the code is organized in FEC,

Why didn't you consider changing expression tree first to incorporate closure collection in the transformed Expression Tree. I think debugging would be easier as you can visualize both expressions.

The code generation part can simply translate expression. This phase can throw exception stating no variable/parameter found in scope. Code generation pha

[2020-12-07 04:58] dadhi commented on #286
How?

The first phase does a bit more: sroring the block (scope) variables hierarchy and discovers the label targets.

[2020-12-08 03:59] ackava commented on #286
Phase 1

Lets say one want to create following expression.
[code]
First phase will change lambda from.. `n => m => n + m` , `n` is closure in nested lambda, it will change it to...
[code]
I have simplified this expression just for display.

[code]

Now second expression is absolutely free of closure (constants, variables). While in this phase, it can detect label targets and store it in the expres

[2020-12-08 07:29] dadhi commented on #286
@ackava Thanks for the idea.

- This rewrite is the complex one, and from the gist of it I am not sure about the corner cases.
- It will also increase the memory producing the new expressions.
- Not sure how to deal with the same instances of the nested lambda expressions (may be on the different levels).
- Having the additional fields in light expression won't work for the system expression. But

[2020-12-08 08:25] ackava commented on #286
Agree, but I feel it will be easier to separate in two different classes to reduce complexity. As we tend to add more features, separation will make it easy to extend FEC parallelly in both phases.

It will also increase the memory producing the new expressions.

Wouldn't be exactly same? For simplicity I displayed a class, but you can use `Curry` functions in first phase instead of `ClosureFuncti

[2020-12-08 10:21] dadhi commented on #286
Then I am not sure what is the win :/

[2020-12-11 18:58] jogibear9988 commented on #283
@dadhi  InvalidCast is still not fixed

[2020-12-11 19:08] jogibear9988 opened #287 "Errors in Linq2db"

[2020-12-11 19:16] jogibear9988 commented on #287
Error: InvalidProgramException
Test: SelectTests.OuterApplyTest("PostgreSQL")

CSharpCode:

	(Func<IQueryRunner, IDataReader, f__AnonymousType593<Parent, Child, bool, f__AnonymousType508<int, int>, f__AnonymousType508<int, int>, object[], Dictionary<int, Nullable<int>>, Dictionary<string, Nullable<int>>>>)(
		IQueryRunner qr,
		IDataReader dr) =>
		new Func<IQueryRunner, IDataContext, IDataReader,

[2020-12-11 19:20] jogibear9988 commented on #287
Error: System.OverflowException
Test: TestextraTypesBulkCopy("PostgreSQL", Default)

CSharpCode:

	(Func<IQueryRunner, IDataReader, PostgreSQLTests.ExtraBulkCopyTypesTable>)(
		IQueryRunner qr,
		IDataReader dr) =>
		new Func<IQueryRunner, IDataContext, IDataReader, Expression, object[], object[], PostgreSQLTests.ExtraBulkCopyTypesTable>(
			(Func<IQueryRunner, IDataContext, IDataReader, Expressio

[2020-12-11 19:23] jogibear9988 commented on #287
Error: InvalidCastException
Test: MappingTests.TesCollection

CSharpCode:

	(Func<object, object>)(object object__23780681) =>
	{
		SampleClass sampleclass__63059985;
		sampleclass__63059985 = new SampleClass(
			object__23780681,
			new System.Delegate[]{default(System.Func<Tests.TypeMapping.Wrappers.SampleClass, int>), default(System.Func<Tests.TypeMapping.Wrappers.SampleClass, int>), default(Sy

[2020-12-11 20:25] dadhi commented on #283
@jogibear9988

You mean `MappingTests.TesCollection` ?

Strange, I run the test recently and it was passing.. Maybe it fails on the specific target. Will recheck.

[2020-12-11 20:39] jogibear9988 commented on #283
i've created a new issue.

[2020-12-11 20:56] #283 closed

[2020-12-12 16:36] dadhi commented on #287
@jogibear9988 I was able to reproduce this `Test: MappingTests.TesCollection` - took me awhile.

[2020-12-12 18:12] jogibear9988 commented on #287
Okay. But should it be fixed? Because it still fails.

[2020-12-12 19:28] dadhi commented on #287
Yes, I will work on this.
At the moment I am going incrementally by replacing the Compile in my fork one by one and fixing the issues. It helps because there are a lot of tests and I can find related problematic Compile faster. Now I did replaced the next bunch of Compiles and found that Mapping tests are down.. so fixing..

[2020-12-12 19:34] jogibear9988 commented on #287
??? Wich fork? of Linq2db?
If you use the Fork, wich already has the replaced compiles, you could switch to MS compiler. Then run all tests.  Then you could switch to yours and run them again. All test wich I found since now, directly fail on the expression wich is wrong, not on a wrong returned value (or something similar)

[2020-12-12 20:08] dadhi commented on #287
My fork of Linq2Db where I am switching the Compile to CompileFast directly.

[2020-12-15 15:42] #286 closed

[2020-12-25 13:13] jogibear9988 opened #288 "Referencing FEC Source directly"
If I want to reference the FEC Source directly, I would not expose the FEC Types.

Do you have a good strategy hwo to make all the Types internal?

Will there also be a nuget for the source inclusion, with internal types?

[2020-12-25 16:21] dadhi commented on #288
Yes, here https://www.nuget.org/packages/FastExpressionCompiler.Internal.src/3.0.0-preview-04

But I did not release the latest previews with it. Will do if you need though.

[2020-12-25 16:27] jogibear9988 commented on #288
No, I'm currently workin on my own serializer where I will use your lib.

[2020-12-25 16:34] dadhi opened #289 "Add the NET Standard v2.1 target because it supports something not available in v2.0 - e.g. EmitMethod"

[2020-12-25 16:46] dadhi commented on #288
Good, I've just released the latest fixes and changes with the v3-preview-07 including the FEC.internal.src package.

[2020-12-25 16:47] #289 closed

[2020-12-25 16:57] #288 closed

[2020-12-27 21:03] ebfortin commented on #279
In theory yes. It use another IL opcode that calls the method instead of a virtual call to the Invoke() method behind. However in practice I wonder if the JIT can eliminate these virtual call to Invoke() and call the method directly.

[2020-12-28 04:18] dadhi commented on #279
My main quuestion what should I call with the pointers or `calli` op-code.
My only idea is to use it for inviking the nested lambda or the constant delegate, e.g. `Invoke(Lambda(...),...)`. It seems a very rare case to bother about.
Otherwise, for the method I am always trying to use `Call` if possible, which should be as fast.

[2020-12-28 16:53] dadhi commented on #53
**TODO:** Add this information into readme.md

[2020-12-28 16:55] dadhi opened #291 "Measure the Unit vs. IssueTests running time and consider the per test parallel run"
All tests are already implementing the `ITest` interface and can be collected and run with `Parallel.ForEach`

[2021-02-03 12:27] jogibear9988 commented on #287
@dadhi any news?

[2021-02-03 13:19] dadhi commented on #287
@jogibear9988 Not yet. Past months did something else, but planning to be back to FEC soon.

[2021-02-27 12:09] thenameless314159 commented on #237
I released the generic APIs for serialization on this repo https://github.com/thenameless314159/Andromeda.Serialization but without any expression related logic, the only thing I did is to provide a [method builder abstraction](https://github.com/thenameless314159/Andromeda.Serialization/blob/main/src/Andromeda.Serialization/SerializationMethodBuilder.cs) to implement with either expression tree c

[2021-03-05 13:23] dadhi opened #295 "Store the closed variables used by the nested lambda in the closure array to support the late binding"
Related to #293

[2021-03-17 11:10] dadhi opened #296 "List the MapsterMapper in the adapting projects"
https://github.com/MapsterMapper/Mapster

[2021-03-17 12:20] dadhi commented on #287
@jogibear9988 I've decided to release the V3 as-is, without the fixes for this issue.
The previews are being for a while now and releasing the RTM version I am hoping to see more adoption and feedback which I can iterate upon.

I hope to see more fine-grain issues after the release and fixing those will benefit all the adopters.
Moreover, the new version contains diagnostics tools to improve the q

[2021-03-17 13:18] #53 closed

[2021-03-19 08:20] #296 closed

[2021-03-19 08:23] dadhi opened #297 "Allow to pass the Constant to sting representation mapping into ToCSharpString and ToExpressionString methods"
For now, the constants of the non-primitive types (one without the literal representation) are printed as the `default(Blah)`.
It would be useful for the code generation to pass the custom values.

[2021-03-24 20:09] dadhi opened #298 "LightExpression with the NewExpression of 4 arguments has ArgumentCount = 3"

[2021-03-25 04:41] dadhi commented on #298
fixed

[2021-03-25 04:41] #298 closed

[2021-03-28 09:31] dadhi opened #299 "Fix the creation of LightExpression New expression with 5 and 6 arguments"

[2021-03-28 09:43] #299 closed

[2021-03-29 12:52] dadhi opened #300 "Bad label content in ILGenerator in the Mapster benchmark with FEC V3"
The exception looks like this:

[code]

[2021-03-29 20:04] #300 closed

[2021-03-30 10:37] dadhi opened #301 "InvalidOperationException in the Mapster"
System.InvalidProgramException: 'Common Language Runtime detected an invalid program.'

StackTrace

[code]

[2021-04-05 18:00] CheloXL opened #302 "Error compiling expression with array access"
Sample code:
[code]

Fails with `System.IndexOutOfRangeException: Index was outside the bounds of the array.`

Changing `CompileFast()` with `Compile()` works fine.

[2021-04-05 18:04] dadhi commented on #302
@CheloXL Great, thanks for the small test. Will look.

[2021-04-06 20:01] #302 closed

[2021-04-09 18:19] CyberBotX commented on #301
I don't think this problem has been fixed, even up to 3.0.4. I just tried the following short snippet in LINQPad using FastExpressionCompiler 3.0.4 and Mapster 7.1.5:

[code]

I get an `InvalidProgramException` with the message `Common Language Runtime detected an invalid program.` The stack trace is:

[code]

Please reopen this and look into it. I have had to temporarily exclude using FEC in my p

[2021-04-09 18:33] dadhi commented on #301
@CyberBotX I will look into this. Thanks for posting.

[2021-04-16 13:56] michalsedlak commented on #301
Hello, I'm facing the same issue with Mapster 7.2. Thank you for fixing that.

[2021-04-16 14:30] dadhi commented on #301
@michalsedlak I am working on it right now.

[2021-04-21 06:25] dadhi commented on #301
fixed in v3.0.5

[2021-04-21 22:14] dadhi commented on #301
@CyberBotX Could you check the Mapster again?

[2021-04-21 23:49] CyberBotX commented on #301
I checked earlier today, and the example I provided for LINQPad runs with no exception. :D

[2021-04-22 11:29] cojocaru-dragos-alexandru commented on #301
I'm facing the same issue. With the latest version of Mapster and v3.0.5 of FastExpressionCompiler I get a "Common Language Runtime detected an invalid program." error.

Reverting back to v2.0.0 seems to work, however I'd love to see this fixed in the latest version.

[2021-04-22 12:51] dadhi commented on #301
@cojocaru-dragos-alexandru

[2021-04-22 12:55] dadhi commented on #301
And maybe someone (@chaowlert) know how to run all Mapster tests with FEC?

[2021-04-22 14:54] chaowlert commented on #301
Hey, good to join. I created `fec` branch (https://github.com/MapsterMapper/Mapster/tree/fec).
I tested unit tests, 10 cases failed. Most seemed to related to dictionary.

Just wondering, for default usage, Should we expect FEC to fallback to original lambda.Compile or not? In most cases, we could enjoy performance boost. In corner cases, app still working.

[2021-04-22 16:55] dadhi commented on #301
@chaowlert Thanks for responding :)
I will check the fork and how is the `CompileFast` called there. It should fallback by default (if no arguments passed).

[2021-04-22 18:10] cojocaru-dragos-alexandru commented on #301
My example would be identical to his, because as I said, I removed all configurations from Mapster and left only this line:

`TypeAdapterConfig.GlobalSettings.Compiler = exp => exp.CompileFast();`

[2021-04-23 05:01] dadhi commented on #301
@chaowlert Thanks for responding :)
I will check the fork and how is the `CompileFast` called there. It should fallback by default (if no arguments passed).

[2021-04-23 06:48] dadhi commented on #301
Found the cause of Dictionary tests failing - the V3 has added the support for the `ListInit` expression (V2 used the fallback) but there is a bug in emitting the `ElementInit` for the Dictionary. Fixing now.

[2021-04-27 11:16] dadhi opened #303 "Add CompilerFlags.ThrowOnNotSupportedException and throw NotSupportedExpressionException when the flag is passed to CompileFast"

[2021-04-27 11:19] #303 closed

[2021-05-03 12:21] dadhi commented on #301
All Mapster tests are now passing in https://github.com/MapsterMapper/Mapster/tree/fec
and all is compiled using the FEC - no fallback used.
Releasing the v3.1.0...

[2021-05-03 12:53] dadhi commented on #301
@chaowlert @CyberBotX @cojocaru-dragos-alexandru FEC v3.1.0 is out

[2021-05-04 10:57] dadhi commented on #222
### v3.1 update:

![image](https://user-images.githubusercontent.com/39516/116993840-aa046a80-ace0-11eb-8cbc-cc3b02d0f7b6.png)

[2021-05-11 16:59] cblaze22 opened #304 "CompileFast and a static property implementation"
Is this the correct way to implement the CompileFast method?

[code]

[2021-05-12 02:10] dadhi commented on #304
@cblaze22 I suppose that `GetAlternativeFilter` should be compiled once and not everytime you accessing the property. You may put it into lazy for this purpose:

[code]

[2021-06-07 15:30] steve7411 opened #305 "CompileFast generates incorrect code with arrays and printing"
Using the latest NuGet release in a project targeting .NET 5.0 on OSX, I've run into a problem where printing values from an array to the console produces unexpected results. If I create a new array with a single element, assign a value to the first element, then `Console.WriteLine` that value several times, it prints unexpected results.

Here's a method I've used to reproduce the problem:
[code]

[2021-06-07 15:48] dadhi commented on #305
Thanks for the finding. Did you try it on Windows or Linux?

[2021-06-07 15:59] steve7411 commented on #305
I just tested on Windows, and I get similar results both times:
[code]

[2021-06-07 17:24] dadhi commented on #305
Thank you for checking, I will look.

[2021-06-14 14:11] dadhi commented on #305
fixed

[2021-06-14 14:11] #305 closed

[2021-06-14 14:17] dadhi commented on #304
Closing as the old discussion

[2021-06-14 14:17] #304 closed

[2021-06-14 14:18] dadhi commented on #305
@steve7411 The fix is out with the v3.2.0

[2021-06-29 15:53] cojocaru-dragos-alexandru commented on #301
I'm still getting the following exception:

[code]

I'm using FastExpressionCompiler 3.2.0 and Mapster 7.2.0

[2021-06-29 15:55] dadhi commented on #301
@cojocaru-dragos-alexandru What is the setup for this error? Could you provide the sample?

[2021-06-30 16:13] cojocaru-dragos-alexandru commented on #301
It's a .NetCore5 class library. These are the project dependencies:

		<PackageReference Include="AsyncEnumerator" Version="4.0.2" />
		<PackageReference Include="FastExpressionCompiler" Version="3.2.0" />
		<PackageReference Include="FluentValidation.AspNetCore" Version="10.2.3" />
		<PackageReference Include="Mapster" Version="7.2.0" />
		<PackageReference Include="MassTransit.Azure.ServiceBus.C

[2021-07-03 12:27] dadhi commented on #301
@cojocaru-dragos-alexandru

I have run the tests from the Mapster with the FEC 3.2 and everything is passing:
![image](https://user-images.githubusercontent.com/39516/124354116-09182a00-dc13-11eb-9493-d0dfb6c37e0b.png)

So it would be hard to impossible to figure out until I have the failing sample/test.

[2021-07-19 12:03] JMPSequeira opened #307 "Switch with fall through throws "System.InvalidProgramException: 'Common Language Runtime detected an invalid program.'""
Using .NET 5 with the following code:

[code]

[2021-07-19 12:55] dadhi commented on #307
Thanks for the compact reproduction code. Will check.

[2021-07-21 10:03] #307 closed

[2021-07-21 12:08] dadhi commented on #307
@JMPSequeira The FEC v3.2.1 with the fix is released on NuGet

[2021-11-14 11:21] exyi opened #308 "Wrong delegate type returned (with closure)"
Hi! Awesome project, I tried to migrate DotVVM to this expression compiler and the performance figures are awesome. CompileFast is literally faster than `.Compile(preferInterpretation: true)` (of course, not counting the execution time)

However, I encountered few bugs, one of them can be replicated with this test:

[code]

The fast expression always returns `Func<string>` even though it should re

[2021-11-14 11:26] dadhi commented on #308
@exyi Hi,

Thanks for the simple repro. Will look when time permits.

What are the other bugs?

[2021-11-14 11:26] exyi opened #309 "InvalidProgramException when Binary(liftToNull: true)"
This expression is compiled successful, but then fails to execute.

[code]

When liftToNull is false, then it works. Also, the Conversion of bool? to object is important, without it, it works as expected.

[2021-11-14 11:31] exyi opened #310 "InvalidProgramException when nullable result is ignored"
The error occurs when I have a Convert expression returning Nullable<int>, but I ignore the result. For example

[code]

Or similar:

[code]

In these simple cases, I could just not place the ignored convert there, but it also fails in more complex cases when the conversion is nested in conditions/blocks, but the result is still not used in the end.

[2021-11-14 11:32] dadhi commented on #309
@exyi
Interesting, I believe I did not just account or maybe just skipping the `liftToNull` (don't remember).
Why do you need this anyway? Is it something prevalent in your code?

Asking, because if I decide just to fallback to the System Compile for the expressions with liftToNull - given the support of them are too complex. Does it hurt your perf then?

[2021-11-14 11:42] dadhi commented on #310
@exyi Great that reproducible samples are small. Will check.

If you're interested, you may look how would I address, test and fix the issues (look at fix for #307 as an example https://github.com/dadhi/FastExpressionCompiler/commit/35b9a8fed3a6d2afdc46813480944d49d7146426)

In other words, PRs are welcome ;)

[2021-11-14 11:48] exyi commented on #309
it's quite prevalent (maybe 10% of the expression will have it), but I can get rid of it quite easily, so feel free to fallback to System Compile if it's easier.

[2021-11-14 11:51] dadhi commented on #309
OK, got it.

Seems like I am ignoring it and just make things fail.
Maybe we'll spend a bit of time to grasp what does it do with help of your test case, and if it is taking too long will fallback.

[2021-11-14 13:52] exyi commented on #309
hmm, when looking how System Compile does it, it does not seem too complicated https://source.dot.net/#System.Linq.Expressions/System/Linq/Expressions/Compiler/LambdaCompiler.Binary.cs,383, but I probably can't figure out myself uncertain how to transform this logic to your compiler :|

[2021-11-14 14:10] dadhi commented on #309
@exyi Thanks for hint.

[2021-11-15 19:34] jogibear9988 commented on #309
Here is the source form netcore:
https://github.com/dotnet/runtime/blob/main/src/libraries/System.Linq.Expressions/src/System/Linq/Expressions/Compiler/LambdaCompiler.Binary.cs#L147

It is MIT Licence, https://github.com/dotnet/runtime/blob/main/LICENSE.TXT

[2021-11-16 21:08] #308 closed

[2021-11-28 10:19] #310 closed

[2021-11-30 02:10] dadhi opened #315 "Add ROADMAP.md"

[2021-12-04 20:24] #309 closed

[2021-12-07 12:55] dadhi commented on #284
Happy birthday this issue. I will look into you. I promise and happy NY!

[2021-12-07 14:18] ackava commented on #284
@dadhi Thanks for update, I was unable to use your library to save il to assembly (it requires lot of work as building types and mapping delegates). We wanted to use it to generate IL for JavaScript engine we were writing. So we recreated Expression Library with little different approach then the one you took. It is available at

https://www.webatoms.in/blog/yantra-js/Yantra-Expression-Compiler-fo

[2021-12-07 15:07] dadhi commented on #284
@ackava Wah, thanks for sharing. Will check to learn something.

[2022-01-06 03:34] sebastienros opened #316 "`in` parameter"
On net6.0 only, with this class

[code]

Try to create an instance like this:

[code]

Fails with a message similar to "invalid CLR ..." when invoking the lambda. Works fine when I remove the `in` marker in the arguments list. Works fine on netcoreapp3.1 and net5.0 in my tests.

[2022-01-06 03:42] sebastienros commented on #316
Apart from that, some feedback, got some relatively small expressions compiled from

[code]

to

[code]

[2022-01-06 15:21] GeroL opened #319 "NRE in IndexExpression.get_ArgumentCount"
Stack:

[code]

I think its because of this code:
[code]

It does not check the parameter and does not initialize the Arguments property.

Please consider splitting that file as debugging is very difficult. The line numbers are always different from the stacktrace.

[2022-01-06 15:36] dadhi commented on #316
First probably is an issue but the full test will help or better the PR with test. See the Issue Tests project for examples.

Regarding the benchmarks I need the benchmark code to interpret them. I dont see what are you testing and how.

[2022-01-06 16:41] GeroL commented on #319
Compiles and works with System.Linq.Expressions.
Line for CSharpPrinter: https://github.com/dadhi/FastExpressionCompiler/blob/6c5d555cf33c679c994f0fbaeef38f5a20acbc7e/src/FastExpressionCompiler/FastExpressionCompiler.cs#L6441
Line for Compiler:
https://github.com/dadhi/FastExpressionCompiler/blob/6c5d555cf33c679c994f0fbaeef38f5a20acbc7e/src/FastExpressionCompiler/FastExpressionCompiler.cs#L1385

[2022-01-06 17:07] sebastienros commented on #316
Good point about the unit tests, I will create one. Tried my luck in case you already knew the limitation with the `in` modifier.

The benchmarks are just a celebratory comment to show how much improvement I am getting with FEC, just replacing a `Compile()` with `CompileFast()` when used in https://github.com/sebastienros/parlot

[2022-01-06 17:44] dadhi commented on #316
Got it. There were some bugs reported before with `in` but those were fixed.

Great. I am usually adding the ratio and the fec/fast words into the benchmarks to get the results by glance. Here I got it wrong :-)

[2022-01-12 20:26] aughey opened #320 ""Bad label content in ILGenerator" when creating through DynamicModule"
Using Expression.Call with an instance can generate this error when CreateType is called.

A similar issue was created:  #300

I'm using Lokad.ILPack to save generated compilations to dll by using CompileFastToIL into an ILGenerator and then creating the type.  For much of my code generation, this works fine.  Some routines create a static method call without an instance parameter to Call, but the

[2022-01-12 22:39] aughey commented on #320
I've created a test in a fork of FastExpressionCompiler that highlights this issue.  The generated function performs correctly, but CreateType fails in two different ways depending on how it is called.

[My repo](https://github.com/aughey/FastExpressionCompiler/commit/25da316f565ccb52bb9983716942db836d079584)

Some narrative, wrapping the call in a IfThen expression generates label errors and remo

[2022-01-16 22:10] aughey opened #321 "Call with out parameter to field type that is not value type fails"
There's an issue calling a method with an out parameter with an argument that is a field value.

Test that shows the problem is here: https://github.com/Thinksplat/FastExpressionCompiler/blob/master/test/FastExpressionCompiler.IssueTests/OutFieldParameterIssue.cs

The debug IL clearly shows that for integers (value types) it emits ldflda while for this string (non value type) it emits ldfld.

I've

[2022-01-27 22:25] #321 closed

[2022-01-31 22:23] #320 closed

[2022-01-31 22:26] dadhi commented on #321
I have fixed the testing expression and CompileFastToIL.
The constant expression leading to closure is allowed by the compiling to the method - only the static lambdas w/o closures are allowed.

[2022-02-01 21:19] #316 closed

[2022-02-01 21:23] dadhi commented on #316
@sebastienros
I have added [two tests](test/FastExpressionCompiler.IssueTests/Issue316_in_parameter.cs) based on your problem description.
But I did not get the "Invalid CLR..." exception, instead I get the NRE.
So I have fixed those in FEC.

If your case is different, please provide the test or PR (in the same file) and reopen the issue.

[2022-02-01 21:28] dadhi commented on #319
@GeroL What is the expression you are using that compiles and works with `System.Linq.Expressions`?

[2022-02-01 21:30] #319 closed

[2022-02-01 21:31] dadhi commented on #319
@GeroL I have added as small fix for NRE.

[2022-02-01 21:46] sebastienros commented on #316
I assume you don't publish your master branch on myget (for instance) automatically to test before it's released?

[2022-02-01 22:45] dadhi commented on #316
No. Mmm.. I will check some options Tomorrow.

[2022-02-02 10:26] dadhi commented on #235
We may as well write to the `m_ILStream` directly.
For instance, we may have an interface method with `(byte[] ilStream, ref int ilLength, Stack stack)` so the expression implementing this interface may call and output codes/bytes directly to stream.

[2022-02-02 22:22] #284 closed

[2022-02-02 22:41] dadhi commented on #316
@sebastienros v3.2.2 is on NuGet

[2022-02-02 23:01] sebastienros commented on #316
Saw that thank you, and was looking for a sponsor page on GH :/ doesn't work in Belarus?

[2022-02-02 23:42] dadhi commented on #316
Honestly did not check. I am in Spain now.. so maybe it works.

[2022-02-02 23:53] sebastienros commented on #316
It would definitely work, should be super easy to setup. At least even if you get a cerbeza worth of it you should do it.

[2022-03-02 18:13] dadhi commented on #316
@sebastienros Hi, I have setup the Sponsors. GitHub was taking its time to approve, otherwise yes, it was rather simple procedure.

[2022-03-02 18:57] dadhi commented on #316
@sebastienros  OMG thanks! :-)

[2022-03-20 00:59] Shpendicus commented on #179
Hello Sir, i am kinda new to this entire Reflection/DynamicStuff and I am currently learning to play with IL-Gen and so, and on top I found your nice work here on github, big congrats to your work and mind!

May I ask tho, how to actually call that code, created by the "lambda.CompileToFastIL(ilGen)"? i mean i called that and the result is true but where is that code now when I may ask ^^ (Sry if

[2022-03-20 01:18] Shpendicus opened #323 "Pass Closures to your ExpressionClasses"
Take a look:

`public CommandBuffer Work(LambdaExpression fastLambdaExpr) { ........ }`

`         CommandBuffer<char> lambda = Work(Expression.Lambda((X) => X + 10));`

I get the error: CS1660:
https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs1660?f1url=%3FappId%3Droslyn%26k%3Dk(CS1660)

Pls help, I wanna really use ur stuff :D

[2022-03-20 02:17] Shpendicus commented on #323
Btw: Would be really nice, cause I think that this wont work right now, to allow an explicit conversion from
`System.Linq.Expressions.Expression`  to `FastExpressionCompiler.LightExpression.Expression`

so that people can use the `(a0, a1) => a0.DoSmthWith(a1)` as a closure BUT pass it to the method who expects a type of:

FastExpressionCompiler.LightExpression.Expression, which will be then conve

[2022-03-20 12:35] dadhi commented on #179
@Shpendicus

Where the code is stored depends on how is the `ILGenerator` you passing to method is created.
It may be just in memory if you are creating a `DynamicMethod` or it may be from the dynamically generated assembly (which may or may not be saved to disk).
Look here for how the method can be used https://github.com/dadhi/FastExpressionCompiler/blob/61ec1246d2f4a81db9d105d780d88a70ec2cd6f2/

[2022-03-20 12:53] Shpendicus commented on #179
@dadhi first thanks for the relatively quick response :)

Second: The only thing now I really would love to know if this is somehow possible by default or I have to workaround this
_(its not that bad either)_:

Is it possible, to transform a dynamic lambda-Expression to `FastExpressionCompiler.LightExpression.Expression` so that I can do  this:
`public  FastExpressionCompiler.LightExpression.Expre

[2022-03-20 13:01] dadhi commented on #323
Answering here the questions and the one from the #179.

The conversion from the lambda to the Expression is natively supported by the C# compiler. The Roslyn does all the parsing, type checking and creating the expression behind the scene:
[code]

It means we cannot do this conversion directly for our own `LightExpression.Expression` type or any other custom type.
The `LightExpression` is for man

[2022-03-20 13:10] dadhi commented on #179
@Shpendicus Mainly answered it in #323.
In principle, it may be possible. But it requires significant mundane work, and do not have the time for it now.  I am fine to get the PR for this, though. You may look how backward conversion is implemented in the `ToExpression()`. Maybe you can do it on your side, just for the small subset of the expressions you are actually using?

[2022-03-20 13:16] Shpendicus commented on #323
Ok that makes quite abit of sense, yea.

Hmm the thing is, I really need the user of my codebase to pass any sort of lambda and so I can create an efficient expressiontree from that function/lambda, I mean this here would be also okay if that would be possible.

`   public <FastExpression> Transform(delegate* unmanaged<T, T> funcPtr)
    {
        Func<T, T> myFunc = Marshal.GetDelegateForFunction

[2022-03-20 13:25] dadhi commented on #323
@Shpendicus I am not sure if it fit, but you may check this project https://github.com/stakx/DelegateDecompiler

[2022-03-20 13:48] Shpendicus commented on #323
@dadhi damn mate, this is exactly wh1at I want and you know what, when my current project is done, I will fork his project and modify it that It also can understand your FastExpressions and THEN also create out of "delegate*<,,,,>" a FastExpression, damn mate were onto smth here, which is hardcore powerful!!

Your project hardcore inspired me, keep up the good work!

[2022-03-20 13:51] dadhi commented on #323
cheers!

[2022-03-20 13:51] #323 closed

[2022-03-20 17:02] dadhi opened #324 "The LightExpression.New of IEnumerable is recursive"

[2022-03-20 17:02] dadhi commented on #324
fixed

[2022-03-20 17:02] #324 closed

[2022-03-21 18:49] dadhi opened #325 "Add LightExpression.NewNoByRefArgs overloads for performance"
For the emitting of the `NewExpression` avoid calling `GetParameters` and allocating the new `ParameterInfo` array and checks for the `ParameterType.IsByref`.

[2022-03-22 15:34] CodingMadness opened #326 "Allowing FastExpressions to allocate on Stack?"
Pretty much title.

Is this somehow possible, when I can guarantee myself that the Expression **wont ever** escape the stack-frame it was declared in?

That would be kinda sick, but I fear, it has to do more with how the CLR of .net handles these allocations...

[2022-03-22 16:18] dadhi commented on #326
@Shpendicus

Once upon a time I had tried to do that. It was even somewhere in the branch (now deleted).
But it is hard without inventing your own allocator on stack to represent tree-like nested structures (usually done with references). I could imagine it can be done, especially with the modern .NET and probably with data-oriented data structures, indexes as pointers, etc.

Regarding the short-l

[2022-03-22 19:11] dadhi opened #327 "Replace direct il.Emit(OpCodes.Call, ...) with EmitMethodCall"

[2022-03-22 19:16] dadhi commented on #235
Currently trying with DryIoc a more direct approach: https://github.com/dadhi/DryIoc/tree/fec-intrinsics

Adding to the `LightExpression.Expression` a set of hooks:
[code]

And making public the parts of the `ExpressionCompiler` and the `ExpressionVisitor` which can be used when overriding the methods in the `Expression`.

Let's see how it goes...

[2022-03-22 20:00] #235 closed

[2022-03-22 22:15] #327 closed

[2022-03-22 22:28] dadhi commented on #325
done

[2022-03-22 22:29] #325 closed

[2022-03-23 13:29] dadhi commented on #235
works pretty well

[2022-03-23 14:19] Shpendicus commented on #326
Hey sry for the late answer, was not at home after my post anymore.

I share same belive!

Oh yea :D

For your interesst; I do know actually a way, to bring .NET objects from Heap to Stack, it involves some dirty ClR hacking but its not toooooo bad, actually. give me time til weekend cause I have to finish a project and then I will slowly begin my journey on this topic for your Library!

[2022-03-25 13:14] dadhi commented on #235
Here is how much difference does a single `ConvertViaCastClassIntrinsic`:

[code]

[2022-03-25 14:37] dadhi opened #328 "Fix the performance of TryEmitConvert to String"
Before fix:

[code]

After fix:

[code]

[2022-03-25 14:37] #328 closed

[2022-03-25 16:50] jogibear9988 commented on #287
@dadhi
should i test this once more? do you think some of them are fixed?

[2022-03-25 17:55] dadhi commented on #287
@jogibear9988 Is there a way to quickly check the current FEC sources, are you still having the PR or branch for that or should I go back to mine (update it, etc.)?

[2022-03-25 18:08] jogibear9988 commented on #287
I'll take a look on Sunday

[2022-03-30 20:02] dadhi opened #329 "Optimize special case compilation for New and Call with no arguments"
- [x] Optimize the `NoArgsNewClassIntrinsicExpression`
- [ ] Optimize others

[2022-03-30 20:13] dadhi opened #330 "Optimize nested lambda ClosureInfo memory footprint"
Currently, `struct ClosureInfo` is the field of the `class NestedLambdaInfo`, so it is allocated on heap even for a single nested lambda.
Other thing is that it probably may be specialized (some fields removed) for the nested lambda, comparing to the entry point lambda.
Other-other thing is that we may not need it at all for some simple lambdas, e.g. #329

[2022-03-30 20:53] jogibear9988 commented on #287
For mee it looks like most of the tests now work

[2022-03-30 20:54] jogibear9988 commented on #287
PR Branch was merged to linq2db, so it has support for switching expressionCompiler in it's release

[2022-04-13 18:05] dadhi commented on #330
too complex to optimize

[2022-04-13 18:05] #330 closed

[2022-04-13 18:07] dadhi commented on #287
@jogibear9988 I am planning to release the FEC in current state of things. So if you find some bugs, keep them posted to be addressed separately.

[2022-04-18 04:21] ackava commented on #268
@dadhi You can close this issue as I have created an alternative in YantraJS library, however, here are few points,

1. Saving and Reloading assembly is slower compared to generating code when needed scenario, JIT is fast.
2. Assembly's MethodWriter is way too slow
3. It is not possible to create single code base to generate IL for both (Saving Assembly and creating DynamicMethod), as both have di

[2022-04-18 07:30] dadhi commented on #268
That's a great point! Currently I am doing eager compilation and looking at other alternatives, e.g. batching compilation together or inlining the lambda code in cirtain cases.

[2022-04-18 07:30] #268 closed

[2022-04-26 19:14] dadhi commented on #329
Keep the new for now `NoArgsNewClassIntrinsicExpression`

[2022-04-26 19:14] #329 closed

[2022-04-26 21:54] dadhi commented on #287
v3.3.0 is out

[2022-05-21 19:46] dzmitry-lahoda opened #332 "Update performance tests to .NET 8"
.NET 6 and 7 got huge performance boosts.

[2022-05-22 19:21] dadhi commented on #332
I will update when the .NET 7 is released.
Though I did not hear of any Expression related performance work in it.
Maybe you know some?

[2022-05-22 19:54] dzmitry-lahoda commented on #332
They improved .NET JIT afaik a lot in .NET 6 and 7, on top of 5. Not expression specific.

Oh, found stuff while googling https://github.com/dotnet/runtime/tree/main/src/libraries/System.Linq.Expressions  - they deprecated kind of expressions...

[2022-05-22 20:09] dadhi commented on #332
Their reasoning is amazing, just means "we don't care". Good for me then.

[2022-05-24 17:13] pmg23 opened #333 "AccessViolationException and other suspicious behaviour on invoking result of CompileFast()"
Using FastExpressionCompiler v3.3.0, the following code throws `NullReferenceException` in the constructor of `Widget`, and the test fails. I think it should succeed, and if I replace `CompileFast` with `Compile` it does so.

[code]

Some further observations:
1. If I remove the Widget constructor's first parameter (`I a`), the test throws `AccessViolationException` instead; if I remove `a` and `b

[2022-05-24 17:29] dadhi commented on #333
Thanks for the test code. There is a lot complexity wise going on here, considering that you've  got a closure of struct field, and also have an explicit string conversion.
But overall, this sample is small enough to find the issue. I will check later.

[2022-05-25 11:45] #333 closed

[2022-05-25 11:49] dadhi commented on #301
closing

[2022-05-25 11:49] #301 closed

[2022-05-25 12:15] pmg23 commented on #333
Great, thanks for looking into it so quickly

[2022-05-25 13:45] dadhi commented on #333
The fix is out with v3.3.1

[2022-05-27 06:20] schuettecarsten opened #335 "FastExpressionCompiler.LightExpressions - MemberInit has recursive calls"
The following methods in Expression.cs point to themselves, which cause StackOverflowExceptions:

[code]

[code]

Either change AsReadOnlyList() to ToArray(), which might have performance disadvantages, or duplicate the code from the third MemberInit overload insted of calling it, which is not good style. but should work without side effects.

[2022-05-27 06:43] dadhi commented on #335
Good catch. Thanks.

[2022-05-27 15:57] dadhi commented on #335
The fix is out with v3.3.2

[2022-06-03 09:07] dadhi opened #336 "Method `TryCompileBoundToFirstClosureParam` is returning passed Type array to pool may cause undefined behavior"

[2022-06-03 09:12] dadhi opened #337 "Switch LightExpression.Expression.ToString from System.Expression.ToString pseudo-code to ToCSharpString"

[2022-06-06 14:00] dadhi opened #338 "InvocationExpression is not properly converted to System Expression via ToExpression for non-lambda expression"
Fixed in DryIoc v6-dev

[2022-07-20 13:00] cervengoc opened #341 "Equality comparison between nullable and `null` inside `Any` produces incorrect compiled expression"
Hi,

First of all, thank you for your work in this very promising library.

We have lots of expressions, and currently experimenting with whether we can utilize this library or not. We noticed, that several unit tests are failing, and nailed it down to the issue given in the title.

Please see the following failing test,.

[code]

[2022-07-20 13:20] dadhi commented on #341
Thanks for the tests! will check.
What is lib you are working on?

[2022-07-20 13:49] cervengoc commented on #341
Let me know please if it's not fitting into MIT, I might have been wrong when I according to my best knowledge, assumed that it does. In this case of course we won't do any further progress.

[2022-07-20 14:25] dadhi commented on #341
No it is fine. I am always curious of use cases. It provides the feedback.
Btw, there is an option for sponsoring if you see it fits.

[2022-07-21 13:27] #338 closed

[2022-07-24 09:59] dadhi commented on #341
@cervengoc The issue is fixed. Also, I have discovered other cases and fixes.

Interesting benchmarks here, especially for `Invoke` of compiled expression. I have expected something like this looking at the IL code generated by System Compile, but funny nevertheless. TLDR, The fast compiled and plain delegate are equally 20x faster than system compiled delegated. Compilation is 15x times faster.

[2022-07-24 10:28] cervengoc commented on #341
@dadhi, thank you so much for your fast reaction and efforts. Looking forward to the next release.

[2022-07-24 12:42] #341 closed

[2022-07-24 12:43] #336 closed

[2022-07-24 12:43] #337 closed

[2022-07-24 12:44] dadhi commented on #291
Tests are fast enough to require parallelization

[2022-07-24 12:44] #291 closed

[2022-07-24 12:58] dadhi commented on #326
Converting to discussion.

[2022-07-24 12:58] #326 closed, assigned to nobody

[2022-07-24 13:07] dadhi commented on #341
@cervengoc v3.3.3 is out on NuGet

[2022-07-26 07:59] dadhi opened #344 "Replace ILGenerator.Emit(OpCodes.Call, ..) with EmitMethodCall"
FEC `EmitMethodCall` has a benefit of calling the `ILGenerator.EmitMethod` for the supported platforms.
The method is more specialized and more performant.

[2022-07-28 20:00] #344 closed

[2022-08-21 21:53] dadhi opened #345 "EmitCall is for the varargs method and should not be used for normal convention"
Instead, `Emit(OpCodes.Call|Callvirt, methodInfo)` should be used.

See https://github.com/dadhi/DryIoc/issues/519

Btw, it negates the performance meaning of #344 ...but consolidates the emit call place to be optimized in future.

[2022-08-23 21:05] #345 closed

[2022-09-02 21:06] dadhi commented on #344
The [benchmarks](https://github.com/dadhi/FastExpressionCompiler/blob/master/test/FastExpressionCompiler.Benchmarks/EmitHacks.cs) and the [test](https://github.com/dadhi/FastExpressionCompiler/blob/master/test/FastExpressionCompiler.IssueTests/EmitHacksTest.cs).

[2022-09-04 11:02] weichx opened #346 "Is it possible to implement ref local variables?"
I know its not supported by the Microsoft expression tree api, but I wonder if this is possible to generate directly in IL. I am building game systems with a language based on expression trees and desperately need to avoid allocating things every frame. `ref`` locals have helped a lot with that, I'd like to integrate these into the language I'm writing but obviously it's not currently possible wit

[2022-09-04 11:28] dadhi commented on #346
What do you mean here by `ref locals`.
Could provide an example/pseudocode?

Regarding memory usage, are you using LightExpressions?

[2022-09-04 11:36] weichx commented on #346
Sure, here is the C# I'd like to emulate

[code]

[2022-09-04 11:37] weichx commented on #346
I'm not currently, I'm not that worried about memory usage at expression compile time (which happens once on startup), but I care a lot about this stuff while the game is running

[2022-09-04 12:42] dadhi commented on #346
Thanks.. So you want to be able to turn this code into expression and compile it?

[2022-09-04 12:46] weichx commented on #346
yes exactly, right now the `ref` keyword cannot be used with ParameterExpression and I think thats just because the expression tree API got frozen before c# 7 when `ref` locals were introduced to the language. I would imagine this is possible to implement in IL, just nobody has done it yet. We can't change the Microsoft compiler to support this, but since you generate IL yourself I figured it migh

[2022-09-04 12:52] dadhi commented on #346
Yes it should be possible, just get the address instead.
But do you need to put all that code into expression or for ibstance only the body of the loop and make

[2022-09-04 12:58] weichx commented on #346
It would need to behave identically to the C# compiler's behavior. The example above is contrived. I'm building a language for people to write game code in that compiles to C# at production time and to IL (via expression trees) during runtime so I can support hot reloading. the syntax is 90% identical to C# to the point where you can basically copy + paste C# code into my script language it will r

[2022-09-04 12:59] weichx commented on #346
No, this won't work, since I'm making a scripting language, I don't know the input ahead of time and can't make that transformation work in all cases.

[2022-09-04 13:01] dadhi commented on #346
@weichx Just updated my prev answer with code.

Ok. I need to experiment with by-ref locals and ref assignments then.
I'll keep you posted.

[2022-09-04 13:01] weichx commented on #346
Awesome, thanks a lot!

[2022-09-08 07:29] TFTomSun opened #347 "InvalidProgramException on compiling an expression that returns a record which implements IList"
I discovered an issue that only appears on linux (the official dotnet sdk docker container)

InvalidProgramException [0]: Common Language Runtime detected an invalid program.
     at bool (ArrayClosure, MyNotifyA)
     at Func<R> FastExpressionCompiler.ExpressionCompiler+CurryClosureFuncs.Curry<C, R>(Func<C, R> f, C c)+(T1 t1) => { }
     at TSource[] System.Linq.Enumerable+WhereEnumerableIterator

[2022-09-08 09:14] dadhi commented on #347
What is the FEC version?

[2022-09-08 09:17] dadhi opened #348 "Make cast to target type controlled in config flags instead for diagnostics"
Currently it is statically set for full framework via `#if`.

[2022-09-08 09:18] dadhi commented on #348
May be related to #347

[2022-09-08 10:48] TFTomSun commented on #347
just realized, the same expression fails under net48 with the following exception:

[code]

[2022-09-08 10:49] TFTomSun commented on #347
I use 3.3.3 ... should be the latest

[2022-10-01 18:41] dadhi commented on #347
@TFTomSun The late question on the issue, what is the type of `x` in `x => x.Value.collectionA.Where(i => i.Number1 % 2 == 0 || x.Value.model.Number2 == 0).ToReadOnlyRecord()` ?

[2022-10-02 22:08] dadhi opened #349 "Error when loading struct parameters closed by the nested lambda e.g. predicate in Linq"
Discovered during the work on #347.
The fix may or may not fix the #347 until I know the full sample from the [TFTomSun](https://github.com/TFTomSun)

[2022-10-02 22:11] #349 closed

[2022-10-02 22:13] dadhi commented on #346
@weichx Back to looking into it.

[2022-10-02 22:55] dadhi opened #350 "Optimize nested lambdas with closures"
Currently FEC stores the data in the nested lambda closure and then calls method `Curry` to remove the closure from the lambda signature.
For example for nested `Func<int>` the Curry is `Func<int> Curry(Func<Closure, int> f, Closure c) => () => f(c)`. It means that Curry creates another closure over f and c.

To avoid that, we may store the f in c and use an extension method for closure to use the

[2022-10-03 06:29] dadhi opened #351 "Hack DynamicMethod"
- Hack its construction
- Hack CreateDelegate in order to reuse the method again.

[2022-10-03 13:30] weichx commented on #351
I've actually done some experiments with this before. By re-using DynamicMethod and IlGenerators I could reduce (on mono) allocations per delegate creation by 12. Performance wasn't directly impacted that much but since there's a lot of contention for the memory allocator (at least on the version of Mono inside Unity3d) I got some pretty big throughput increases while multi-threading compilation o

[2022-10-03 14:40] weichx commented on #351
That was just a little prototype so I unfortunately don't have the code anymore but the gist of it was directly calling the internal C# runtime methods via reflection (or compiled expression tree). This let me skip all the api overhead that the .NET library introduces.
[code]

[2022-10-03 15:11] dadhi commented on #351
@weichx Thanks for sharing.. will see what can I steal from it :)

[2022-10-05 10:31] dadhi commented on #351
@weichx May be you tried it... I was thinking, what is the fastest route from the `byte[]` array to the method.
I am looking at something like https://source.dot.net/#System.Private.CoreLib/src/System/Reflection/Emit/DynamicILGenerator.cs,901

[2022-10-14 15:27] StevenGranados opened #352 "xxxAssign doesn't work with MemberAccess"
When I use `Expression.xxxAssign` where left is a `ExpressionType.MemberAccess` I get an Assign generated instead.

[This commit](https://github.com/dadhi/FastExpressionCompiler/commit/76b7c913c5e1fe7d91660629c9399f482f147cab) seems to only test for `ParameterExpression`. A quick step through the code seems to suggest that xxxAssign isn't accounted for in the case of member access.

[Line in FastE

[2022-10-15 06:52] dadhi commented on #352
@StevenGranados That is strange coinsidence, but I am already working on the fix. Found it when improving the `ref` support story.

[2022-11-28 00:00] TFTomSun commented on #347
Just discovered today that the logical or seems to cause the issue. I had another expression without any record and got InvalidProgramException when I tried to execute it (on .NET6)

[code]

leads to:
Message: 

  Stack Trace: 

bool (ArrayClosure, DependentNotifyModel)
TValue CustomNotifyPropertyChangedExtensions+ExpressionProperty<TSource, TValue>.get_Value()
TValue ExpressionExtensions+BoundExp

[2022-11-28 12:53] yuretz opened #353 "NullReferenceException when calling CompileFast() results"
Trying to run the code
[code]
gives  `NullReferenceException` with the following stack trace
[code]

Everything works as expected if I use the standard slow `.Compile()`

I'm using .NET 7.0 with FastExpressionCompiler 3.3.3

Am I doing something wrong? Thanks in advance for your help!

[2022-11-29 19:16] dadhi commented on #353
@yuretz
Hi, thanks for reporting and for the code example.
I will check.

[2022-11-29 21:05] #347 closed

[2022-11-29 21:55] dadhi commented on #353
The problem is the recursive use of delegate and likely its value is not set into closure when assigned.
I have added the failing test and proceed from here.